@model IEnumerable<RSStest.Models.RSSitem>

@{
    ViewData["Title"] = "All items";
}



<h1>All items</h1>

<p>
    <a asp-action="Update">Update</a>

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <a href=@item.Link>@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>

            
        </tr>
}
    </tbody>
</table>
